{
  "id": "/${TEAMNAME}-pycassandra",
  "cpus": 0.25,
  "mem": 128.0,
  "instances": 3,
  "container": {
    "type": "DOCKER",
    "docker": {
      "image": "${REGISTRY_URL}/${TEAMNAME}/pycassandra:${VERSION}",
      "network": "BRIDGE",
      "portMappings": [
        { "containerPort": 5000, "hostPort": 0 }
      ]
    }
  },
  "labels": {
      "FE-Proxy": "yes",
      "FE-Proxy-VIP": "${VIP}",
      "avi_proxy": "{\"virtualservice\": {\"services\": [{\"port\": 80}], \"analytics_policy\": {\"metrics_realtime_update\": {\"duration\": 0, \"enabled\":true}, \"client_insights\": \"NO_INSIGHTS\", \"full_client_logs\": {\"enabled\":true}}}, \"tenant\": \"${TEAMNAME}\" }"
  },
  "uris":  [
    "file://${CREDENTIAL_FILE}"
  ]
}
